/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMCHAR 1
#define DIREC   2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  Å  |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  Æ  |  Ø  |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  | GUI | ALT |
//                    | GUI | LWR | SPC |   | ENT | SPACE| ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp LPAR
   &kp LSHFT &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp LGUI &kp LALT
                   &mo NUMCHAR &lt DIREC BSPC  &kp ESC   &kp RET &lt NUMCHAR SPACE &mo DIREC
                        >;
                };

                num_char {
// -----------------------------------------------------------------------------------------
// |   +  |  -  |  7  |  8  |  9  |  '  |       |  <  |  [  |  ]  |  /  |  |  |  \  |
// |   *  |  ^  |  4  |  5  |  6  |  ~  |       |  >  |  {  |  }  |  !  |  @  |  #  |
// |   ?  |  =  |  1  |  2  |  3  |  ¨  |       |  "  |  (  |  )  |  $  |  %  |  &  |
//                    |  0  | BSPC| ESC |       | ENT |     |     |
                bindings = <
   &kp PLUS  &kp MINUS &kp 7 &kp 8    &kp 9   &kp SQT      &kp LT  &kp LBKT &kp RBKT &kp FSLH &kp PIPE  &kp BSLH
   &kp STAR  &kp CARET &kp 4 &kp 5    &kp 6   &kp TILDE    &kp GT  &kp LPAR &kp RPAR &kp EXCL &kp AT    &kp HASH
   &kp QMARK &kp EQUAL &kp 1 &kp 2    &kp 3   &trans       &trans  &kp LBRC &kp RBRC &kp DLLR &kp PRCNT &kp AMPS
                       &kp 0 &kp BSPC &kp ESC              &kp RET &trans   &trans
                       >;
                };

                dir {
// -----------------------------------------------------------------------------------------
// |     | tab |     |arup |     |     |       |     |      | volup |     |    |    |
// |     |lshft|arlft|ardwn|arght|     |       |     | home | volup | end |    |    |
// |     |lctrl|     |     |     |     |       |     |      |       |     |    |    |
//                   |     |     | ESC |       | ENT | space|       |
                bindings = <
   &trans &kp TAB   &trans   &kp UP   &trans    &trans     &trans  &trans    &kp C_VOL_UP &trans  &trans &trans
   &trans &kp LSHFT &kp LEFT &kp DOWN &kp RIGHT &trans     &trans  &kp HOME  &kp C_VOL_DN &kp END &trans &trans
   &trans &kp LCTRL &trans   &trans   &trans    &trans     &trans  &trans    &trans       &trans  &trans &trans
                             &trans   &trans    &kp ESC    &kp RET &kp SPACE &trans 
                        >;
                };
        };
};